@font-face {
    font-family: "Fellix";
    src: url("./Fellix-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Fellix";
    src: url("./Fellix-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Fellix";
    src: url("./Fellix-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Fellix";
    src: url("./Fellix-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Fellix";
    src: url("./Fellix-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Fellix";
    src: url("./Fellix-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fellix";
    src: url("./Fellix-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Fellix";
    src: url("./Fellix-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: "Fellix", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
